html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    line-height: 1.5;
    font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

ul,
li {
    list-style: none;
}

em,
i {
    font-style: normal;
}

a img {
    border: 0;
}

a {
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.clearfix:after {
    clear: both;
    display: block;
    visibility: hidden;
    height: 0;
    content: ".";
}

.clearfix {
    display: block;
}

img {
    max-width: 100%;
}

[v-cloak] {
    display: none;
}

.js-alert-msg {
    position: fixed;
    top: 40%;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 101;
}

.js-alert-msg em {
    color: #fff;
    font-size: .28rem;
    line-height: .4rem;
    display: inline-block;
    padding: 0.3rem;
    background: rgba(1, 1, 1, 0.7);
    border-radius: 0.1rem;
    max-width: 4rem;
    vertical-align: middle;
}

.w600 {
    margin: 0 auto;
    max-width: 640px;
}
