<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">
    <head>
        <title>title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="/css/bootstrap.css?v=1">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light" style="margin-bottom: 10px;">
            <div class="container">
                <a class="navbar-brand" href="/">Admin</a>
                <div>
                    <ul class="navbar-nav">
                        <li class="active">
                            <a class="nav-link" href="#">Home</a>
                        </li>
                        <li>
                            <a class="nav-link" href="/news">news</a>
                        </li>
                        <li>
                            <a class="nav-link" href="#">Pricing</a>
                        </li>
                        <li>
                            <a th:if="${session.uid} == null" class="nav-link" href="/user">登录</a>
                            <a th:if="${session.uid} != null" class="nav-link" href="/user/logout"
                               th:text="'注销('+${session.uid}+')'"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <blockquote layout:fragment="content"></blockquote>
    </body>
</html>