<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main}">
<head>
    <title>登录</title>
</head>
<body>
<main layout:fragment="content" class="container">
    <h1>user login</h1>
    <div class="alert alert-danger" th:if="${error} != null" th:text="${error}"></div>
    <form id="login-form" action="/user/login" method="post">
        <label>
            <input type="text" name="username" autofocus value="test">
        </label>
        <br>
        <label>
            <input type="password" name="password" value="">
        </label>
        <br>
        <button type="submit">Login</button>
    </form>
</main>
</body>
</html>