<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- 配置说明 https://juejin.im/post/5b51f85c5188251af91a7525 -->
    <springProperty scope="context" name="logging.path" source="logging.path"/>
    <property name="log.path" value="logs"/>
    <!--org.springframework.boot.logging.logback.DefaultLogbackConfiguration.CONSOLE_LOG_PATTERN-->
    <property name="log.pattern"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} %magenta(${LOG_LEVEL_PATTERN:-%5p}) ${PID:- } [%15.15t] %cyan(%-40.40logger{39}) %-35.35(%replace(%caller{1}){'Caller[^(]+|\n', ''}) : %msg%n"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${log.pattern}</pattern>
        </encoder>
    </appender>
    <appender name="zx5435Appender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.path}/app.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${log.pattern}</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.path}/app.log.%d{yyyy-MM-dd}</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
    </appender>

    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>
    <logger name="com.zx5435.pcmoto" level="debug" additivity="true">
        <appender-ref ref="zx5435Appender"/>
    </logger>
</configuration>